.header {
    height:1200px;
    background-image: url("../IMG/background-photos/diego-gutierrez-NRn5rrBnH8w-unsplash\ 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}